html
	head
		title Member Login
	body(onload='memberlogininit()')
		include ../partials/header 
		div#form(class='form')
			input(id="username-input" class="form-input" type="text" name="name" placeholder="enter your username...")
			input(id="password-input" class="form-input" type="text" name="pass" placeholder="enter your password...")
			br
			button#memberlogin LOGIN
		script(src="client.js") 